documentation/
bin_creation/users.bin
bin_creation/movies.bin
input_files/
output_files/
algo/graph[0-9]*.bin
algo/graph[0-9][0-9]*.bin
algo/graph[0-9][0-9][0-9]*.bin
algo/graph[0-9][0-9][0-9][0-9]*.bin